* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    box-sizing: border-box;
    font-family:'Roboto', 'Open Sans', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    line-height: 1.333;
    padding-top: 60px;
    text-align: center;
}

[hidden] {
    display: none !important;
}

/* Portrait layout (default) */


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
 
}

.menu {
    background: #ff9912;
    box-sizing: border-box;
    color: #fff;
    height: 60px;
    left: 0;
    padding: 14px 15px 14px 21px;
    position: fixed;
    right: 0;
    text-align: left;
    top: 0;
    z-index: 3;
}

.menu img {
    cursor: pointer;
    float: right;
    height: 24px;
    margin: 4px 0;
    transition: opacity 0.1s ease-out;
    width: 24px;
}

.menu img+img {
    margin-right: 16px;
}

.menu img:active {
    opacity: 0.5;
}

.menu h1 {
    display: inline-block;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 32px;
}

@media screen and (max-width:319px) {
    .menu h1 {
        display: none;
    }
}

.refresh-icon {
    transform: rotateZ(-45deg);
}

.refresh-icon.animate {
    animation: rotate 2s linear infinite;
}

.splash {
    background-color: #ff9912;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    transition: opacity 0.4s ease;
    width: 100%;
    will-change: opacity;
    z-index: 3;
}

.splash i {
    background: #ff9912 url('../img/splash-icon.png') center no-repeat;
    background-size: 100px 100px;
    height: 100px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 100px;
}

.splash.animate i {
    animation: jump 2s ease infinite;
}

.splash.hidden {
    opacity: 0;
    pointer-events: none;
}

.splash button {
    display: inline-block;
    left: 50%;
    margin: 100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.progress-bar {
    background: #583608;
    height: 2px;
    left: 25%;
    margin-top: 70px;
    position: absolute;
    top: 50%;
    width: 50%;
}

.progress-bar-inner {
    background: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: width 0.1s ease-in;
    width: 0%;
}

.cards {
    background: #fafafa;
    overflow: scroll;
    position: relative;
    width: 100%;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-width: 2px;
    cursor: pointer;
    margin: 10px;
    padding: 8px 10px;
    position: relative;
    transition: background-color 0.1s ease-out;
    z-index: 2;
}

.card:active {
    background-color: #fafafa;
}

.card::after {
    background: url('../img/chevron.png') center no-repeat;
    background-size: 100%;
    content: '';
    height: 1em;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 1em;
}

.card.expendable::after {
    opacity: 1;
}

.card.expanded::after {
    transform: rotate(180deg);
}

.card .timetable tr:nth-child(n+5) {
    display: none;
}

.card.expanded .timetable tr:nth-child(n+5) {
    display: table-row;
}

.card h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 0 2px 0;
    padding-right: 1em;
    text-align: left;
}

.timetable {
    color: #666;
    text-align: left;
    width: 100%;
}

.timetable td {
    padding: 2px 1px;
}

.timetable td:first-child {
    text-align: left;
    width: 40px;
}

.timetable td:last-child {
    text-align: right;
    width: 50px;
}

.debug-console {
    background: #222;
    bottom: 0;
    box-sizing: border-box;
    color: #eee;
    font-family: monospace;
    height: 50vh;
    opacity: 0.75;
    overflow: auto;
    padding: 4px;
    position: absolute;
    text-align: left;
    width: 100%;
    white-space: pre;
    z-index: 3;
}

button {
    border: 0;
    background: #ff9912;
    color: #fff;
    margin: 10px;
    padding: 10px 20px;
}

button:active,
button.button-alternative:active {
    background: #583608;
}

button.button-alternative {
    background: #fff;
    color: #ff9912;
}

button:focus {
    outline: 0;
}

@keyframes rotate {
	0% { transform: rotate(-45deg); }
	100% { transform: rotate(-405deg); }
}

@keyframes jump {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}